<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Professional Projects</h1>
    <p class="lead text-muted">Below are a few projects that I have done professionally. The Projects are presented in PDF format and no code or company information was reviealed.</p>
    <p>
      <a href="#" class="btn btn-primary">contact me</a>
      <a href="#" class="btn btn-secondary">services</a>
    </p>
  </div>
</section>
<div class="album text-muted mb-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="card" style="width:100%;">
          <figure class="imghvr-zoom-out-left">
            <img class="card-img-top"src="assets/img/CoreMVC.jpg" style="width: 100%; height:auto"alt="Card image cap">
            <figcaption>
              This a project built for Comcast Central Division Application Development.
              This is a project that I created and saved developers 40% of new development time.
            </figcaption>
          </figure>
          <div class="card-body">
            <h4 class="card-title">Comcast (coreMVC)</h4>
            <p class="card-text">This a project built for Comcast Central Division Application Development.
              This is a project that I created and saved developers 40% of new development time.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="card" style="width:100%;">
          <figure class="imghvr-zoom-out-up">
            <img class="card-img-top" src="assets/img/Boeing.png" style="width: 100%; height:auto;"alt="Card image cap">
            <figcaption>
              This was for a client in the Aerospace industry. This initial phase of the project involved rebuilding a feature that passed notes from one shift to another.
            </figcaption>
          </figure>
          <div class="card-body">
            <h4 class="card-title">Aerospace Client (redesign)</h4>
            <p class="card-text"> This was for a client in the Aerospace industry. This initial phase of the project involved rebuilding a feature that passed notes from one shift to another.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="card" style="width:100%;">
          <figure class="imghvr-zoom-out-right">
            <img class="card-img-top" src="assets/img/logo/rts/betta.svg" style="width: 100%; height:auto;"alt="Card image cap">
            <figcaption>
              <h4>Coming Soon</h4>
            </figcaption>
          </figure>
          <div class="card-body">
            <h4 class="card-title">RTS[Beta]</h4>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
    </div> <!-- Row/-->

  </div> <!-- container/-->
</div>
