<div class="rts-home">
  <div class="parallax">
    <div id="feature1" class="parallax__group">
<!-- Do Not Use Fore Layer -->
      <div class="parallax__layer parallax__layer--base">
        <video autoplay loop muted poster="betta.svg" id="background">
          <source src="assets/vid/Atlanta.mp4" type="video/mp4">
        </video>
        <div class="rts-section-title">
          <!--<div class="container rts-content-center">
            <div class="display-3 rts-title text-uppercase"> Enterprise User Experience</div>
            <div><p class="h3 text-warning"> A Reagan Taylor Stewart Portfolio</p></div>
            <div class="row"> <button class="btn btn-outline-light"> more </button></div>
          </div>-->
        </div>
      </div>

      <div class="parallax__layer parallax__layer--back">
        <div class="title">Background Layer</div>
      </div>
      <div class="parallax__layer parallax__layer--deep">
        <div class="title">Deep Background Layer</div>
      </div>
    </div>

    <div id="group2" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
       <!-- <p class="h2" style="margin:0 auto; top:50%; position: absolute; z-index: -900"> some other cool shit goes here!</p>-->
        <div class="jumbotron jumbotron-fluid" style="background-color: goldenrod;">
          <div class="container">
            <h1 class="display-3 text-dark">Freelance User Experience</h1>

          </div>
        </div>
        <div class="parallax__layer parallax__layer--fore" >
          <div class="callout-layer"></div>
          <video autoplay loop muted poster="betta.svg" id="background-2">
            <source src="assets/vid/ux-vid.mp4" type="video/mp4">
          </video>
          <h3 class="ml-5 px-5">Building Enterprise User Experience with RTS</h3>
        </div>
      </div>
      <div class="parallax__layer parallax__layer--back">
        <div class="rts-section-title">
          <div class="container rts-content-center">
            <div class="display-3 rts-title text-uppercase"> Enterprise User Experience</div>
            <div><p class="h3 text-warning"> A Reagan Taylor Stewart Portfolio</p></div>
            <div class="row">
              <button class="btn btn-outline-light"> more </button>
            </div>
          </div>
        </div>
    </div>
  </div>


    <div id="group3" class="parallax__group">
      <div class="parallax__layer parallax__layer--back">
        <div class="card-deck">
          <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
            <div class="card-header">RTS</div>
            <div class="card-body">
              <h4 class="card-title">Contact Me</h4>
              <p class="card-text">For more information about Enterprise User Experience</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="group4" class="parallax__group">
       <div class="parallax__layer parallax__layer--deep">
       </div>
      <div class="parallax__layer parallax__layer--back">
        <div class="half-gradient ">
        </div>
        <div class="rts-feature-block">
          <div class="rts-feature-Img">


          </div>
        </div>
      </div>
      <div class="parallax__layer parallax__layer--fore">
        <div class="feature-dialog-rt">
          <p class="Lead p-3"></p>
        </div>
      </div>
    </div>



  </div>


</div>


