<div class="my-services">
  <!-- RTS Services Jumbotron -->
  <div class="jumbotron jumboME">
    <div class="container-fluid">
      <div class="row">
        <div class="text-center" style="width:100%;">
          <h1 class="display-4 text-center text-light">RTS Services</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="sContainer">

    <div class="columns">
      <ul class="price">
        <li class="header">On-Site Consulting</li>
        <li class="grey">$ 120/ Hr</li>
        <li class="text-danger">*Atlanta Only</li>
        <li>UI/UX Design</li>
        <li>Mobile or Web Application</li>
        <li>Per Project Pricing</li>
        <li class="grey"><a href="#" class="button">more info</a></li>
      </ul>
    </div>

    <div class="columns">
      <ul class="price">
        <li class="header" style="background-color:mediumpurple">Freelance Consulting</li>
        <li class="grey">$ 85 / Hr</li>
        <li class="text-danger">*Remote Only</li>
        <li>UI/UX Design</li>
        <li>Mobile or Web Application</li>
        <li>Per Project Pricing</li>
        <li class="grey"><a href="#" class="button">more info</a></li>
      </ul>
    </div>

    <div class="columns">
      <ul class="price">
        <li class="header">Team Project</li>
        <li class="grey">Starting @ $ 165/ Hr</li>
        <li class="text-danger">*Remote Only</li>
        <li>Design and Develop</li>
        <li>Mobile and Web apps</li>
        <li>Per Project Pricing</li>
        <li></li>
        <li class="grey"><a href="#" class="button">more info</a></li>
      </ul>
    </div>
  </div>

</div>
